<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=DESKTOP-E1SO1HG\\SQLEXPRESS; Initial Catalog=Netflix;Integrated Security=true"/>-->
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-E1SO1HG\SQLEXPRESS; Initial Catalog = {0}; Integrated Security = SSPI;"/>

	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Database" value="Netflix"/>
		<add key="ParentTableName" value="Accounts"/>
		<add key="ChildTableName" value="Profiles"/>
		<add key="SelectChild" value="select * from Profiles"/>
		<add key="SelectParent" value="select * from Accounts"/>
		<add key="ChildForeignKey" value="account_id"/>
		<add key="ParentReferencedKey" value="id"/>
		<add key="ForeignKey" value="FK__Profiles__accoun__267ABA7A"/>

		<!--<add key="Database" value="Netflix"/>
		<add key="ParentTableName" value="MyList"/>
		<add key="ChildTableName" value="Movies"/>
		<add key="SelectChild" value="select * from Movies"/>
		<add key="SelectParent" value="select * from MyList"/>
		<add key="ChildForeignKey" value="mylist_id"/>
		<add key="ParentReferencedKey" value="id"/>
		<add key="ForeignKey" value="FK__Movies__mylist_i__2B3F6F97"/>-->
	</appSettings>
</configuration>